logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.umi/
.DS_Store
*.sw*
*.un~
db/
eas.code-workspace
app/public/pages
config/manifest.json
app/assets/pages/.umi